[submodule "second_party/apis"]
	path = second_party/apis
	url = https://github.com/secretflow/secure-data-capsule-apis.git
	branch = main
[submodule "second_party/unified-attestation"]
	path = second_party/unified-attestation
	url = https://github.com/secretflow/jinzhao-attest.git
	branch = bazel_build
